<html lang="en">
    
  <head>
      
    <meta charset="utf-8">
      
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

    
  <body data-spy="scroll" data-target="#navbar" data-offset="150">
      
        <nav class="navbar navbar-expand-lg navbar-light bg-light active">
        <div class="container-fluid">
    <a class="navbar-brand" href="#">We Care</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
         <li class="nav-item">
              <a class="nav-link" href="#footer">Book a Doctor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Login</a>
            </li>
       
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
        

 <!-- Jumbotron -->
<div
  class="p-5 text-center bg-image rounded-3"
  style="
    background-image:url('ig1.jpg');
    height: 400px;

  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Chronic Kidney Disease Analysis</h1>
        <h4 class="mb-3">We are here to help you track your illness and help you fight it!</h4>
        <a class="btn btn-outline-light btn-lg" href="C:\Users\HP\Desktop\Smart bridge\Final Project\Assignment\check.html" role="button">Check Now</a>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->
        
<!-------------
---------------
CARDS
-------------->
<div id="reasons">
    <h1>WHY CHOOSE US</h1>
</div>

 <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="c1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Book an appointmnet</h5>
        <p class="card-text">Logibee's easy configuration based technology enables a faster onboarding process without involving your technology team for integration. Get set in minutes. Spend the time saved in building your core business.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="c2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Medicines</h5>
        <p class="card-text">Logibee's smart analytics alert you to low capacity utilization. Reconsolidate, increase your delivery volume or extend delivery support to your collaborators. Never let your capacity go unutilized.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="c3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Emergency Service</h5>
        <p class="card-text">Logibee helps in increasing customer satisfaction and sales growth by helping you avoid delivery failures, saving you hours of time and effort in preparing for redelivery. Why not use the time to Innovate!</p>
      </div>
    </div>
  </div>
  
  </div>
</div>     


<!----------------
-----------------
    FOOOTER
----------------->

<div id="reasons">
</div>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="#" class="fa fa-facebook"></a>
        
      <a href="#" class="fa fa-twitter"></a>
        
      <a href="#" class="fa fa-linkedin"></a>
       
      <a href="#" class="fa fa-instagram"></a>
       
       
        
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>WE CARE
          </h6>
          <p>
            We are here to take care of you at each and every step. Feel free to connect with us.
          </p>
        </div>
        <!-- Grid column -->

        

        
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#">Rishita Srivastava</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
      
      
      
      </body>
      </html>
